/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
ck.pem
.rocketeer/
.idea/
public/images/posters/
public/vendor/sitemap/styles/google-news.xsl
public/vendor/sitemap/styles/mobile.xsl
public/vendor/sitemap/styles/sitemapindex.xsl
public/vendor/sitemap/styles/xml.xsl
sitemap.xml
